<h1><%= @song.title %></h1>

<% if @song.released %>
  <p>Release Year: <%= @song.release_year %></p>
<% end %>
<p>Artist Name: <%= @song.artist_name %></p>
<p>Genre Name: <%= @song.genre %></p>

<br>
<%= link_to "Edit This Song", edit_song_path(@song) %><br>
<%= link_to "Delete This Song", @song, method: :delete, data: { confirm: "Are you sure you want to delete this song?" } %><br>
<%= link_to "Back", songs_path %>
